{% extends 'hms_admin/admin_master.html' %}
{% load static %}

{% block header %}

<style>
.pagination>li {
        display: inline;
    }

    .pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .pagination>li:first-child>a, .pagination>li:first-child>span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .pagination>li>a {
        background: #fafafa;
        color: #666;
    }

    .pagination-sm>li>a, .pagination-sm>li>span {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }

    .pagination>li>a, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    a {
        background-color: transparent;
    }

</style>

{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center mt-5">
                <div>
                    <h2>View Patient</h2>

                    <ul class="pagination pagination-sm no-margin pull-right">
                      
                        {% if patient.has_previous %}
                        <li><a href="?page={{ patient.previous_page_number }}" data-abc="true">&laquo;</a></li>
                     
                        {% endif %}
                        
                        {% if patient.has_next %}
                        <li><a href="?page={{ patient.next_page_number }}" data-abc="true">&raquo;</a></li>
                    {% endif %}
                       <li>
                        <span > 
                            Page {{ patient.number }} of {{ patient.paginator.num_pages }}
                        </span>
                       </li>
                      </ul>

                    <div class="mt-5" style="width:95%; ">


                        <table style="border-spacing: 30px;" class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th >Patient ID</th>
                                    <th> Name </th>
                                    <th>Admission</th>
                                    <th>Address</th>
                                    <th> Contact</th>
                                    <th>Patient Profile</th>
                                    <th width="10%"> Action</th>
                                </tr>
                            </thead>
                            {% for patient in patient %}
                            <tbody>
                                
                                <tr>
                                    
                                    <td rowspan="3">{{forloop.counter}}<br><br> </td>
                                    <td rowspan="3"> {{patient.patient_name}} <br><br></td>
                                    <td rowspan="3"> Date : dd/mm/yyyy <br>  Time : <br> </td>
                                    <td rowspan="3"> {{patient.address}} <br> Address 2 <br> Address 3 </td>
                                    <td rowspan="3"> {{patient.phone}} <br> <br> </td>
                                    <td rowspan="3"> Blood Group : {{patient.blood_grp}} <br> Gender :{{patient.gender}} <br> DOB : {{patient.dob}} </td>
                                    <td rowspan="3">  
                                        <button type="button" class="btn btn-success">EDIT</button>  <br> 
                                        <button type="button" class="btn btn-danger">DELETE</button>
                                      </td>
                                     
                                </tr>
                               
                            </tbody>
                            {% endfor %}
                        </table>


                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}